<a href="https://colab.research.google.com/github/souparnoadhikari-commits/07-Time-Series_Analysis_of_Global_Temperature_Data_Spring_2026-Souparna-Adhikari/blob/main/07_Time_Series_Analysis_of_Global_Temperature_Data_Spring_2026.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div align="left" style="background-color: #008080; padding: 20px 10px;">
<h3><b>IDEAS - Institute of Data Engineering, Analytics and Science Foundation</b></h3>
<p>Spring Internship Program 2026</p>
<hr style="width:100%;">
<h3><b>Project Title:</b> Time-Series Analysis of Global Temperature Data</h3>
<h4>Project Notebook</h4>

<blockquote style="border-left: 4px solid #4285F4; padding-left: 15px;">
  <strong>Created by:</strong> Samyabrata Roy<br>
  <strong>Designation:</strong> Associate Software Developer
</blockquote>
<hr style="width:100%;">
</div>

### Question 1: Import Libraries and Load Data (5 Marks)

Import `pandas` as `pd` and `numpy` as `np`. Download the global temperature dataset `monthly_csv.csv` from https://drive.google.com/drive/folders/1TeLp4U4NsXCSgClbF7ODBsaLKpHSWeQr?usp=sharing and load into a pandas DataFrame called `df_temp`. Display the first 5 rows.

**Hint:** Use `pd.read_csv()` and `.head()`.

**Expected Output:**
```
    Source        Date    Mean
0     GCAG  2016-12-06  0.7895
1  GISTEMP  2016-12-06  0.8100
2     GCAG  2016-11-06  0.7504
3  GISTEMP  2016-11-06  0.9300
4     GCAG  2016-10-06  0.7292
```

In [ ]:
import pandas as pd
from google.colab import files
import io

# This will open a file selection dialog in your browser
uploaded = files.upload()

# Assuming you upload a single CSV file, get its name
for fn in uploaded.keys():
  print(f'User uploaded file "{fn}" with length {len(uploaded[fn])} bytes')
  # Read the uploaded CSV file into a pandas DataFrame
  df = pd.read_csv(io.StringIO(uploaded[fn].decode('utf-8')))
# Display the first 5 rows of the DataFrame to verify
display(df.head(5))

### Question 2: Convert to Datetime and Sort (5 Marks)

The 'Date' column is currently a string. Convert it to a proper datetime object and then sort the entire DataFrame `df_temp` by this 'Date' column in ascending order. Display the head of the sorted DataFrame.

**Hint:** Use `pd.to_datetime()` for conversion and `.sort_values(by='Date')` for sorting.

**Expected Output:** A table showing the first 5 rows of the dataset, now sorted by date starting from the earliest records.

In [ ]:
# Convert to Datetime and Sort (Question 2)

# The notebook state indicates that `df` is the DataFrame loaded from the CSV.
# I'll create `df_temp` from `df` as specified in the problem.
df_temp = df.copy()

# Convert 'Date' column to datetime objects using 'mixed' format to handle variations
df_temp['Date'] = pd.to_datetime(df_temp['Date'], format='mixed', dayfirst=False)

# Sort the DataFrame by 'Date' in ascending order
df_temp = df_temp.sort_values(by='Date').reset_index(drop=True)

# Display the head of the sorted DataFrame
print("DataFrame after converting 'Date' to datetime and sorting:")
display(df_temp.head())

DataFrame after converting 'Date' to datetime and sorting:

    Source       Date    Mean
0  GISTEMP 1880-01-06 -0.3000
1     GCAG 1880-01-06  0.0009
2     GCAG 1880-02-06 -0.1229
3  GISTEMP 1880-02-06 -0.2100
4     GCAG 1880-03-06 -0.1357

### Question 3: Data Inspection (5 Marks)

Get a quick overview of your sorted DataFrame. Print the shape and then check for the total number of missing (null) values across the entire DataFrame.

**Hint:** Use `df_temp.shape` to get the dimensions and `df_temp.isnull().sum().sum()` to count all missing values.

**Expected Output:** The shape of the DataFrame and the total count of null values.

In [ ]:
# Write your answer here

# Print the shape of the DataFrame
print("Shape of the DataFrame:", df_temp.shape)

# Check for total number of missing (null) values
print("Total null values in the DataFrame:", df_temp.isnull().sum().sum())

Shape of the DataFrame: (3288, 6)
Total null values in the DataFrame: 0

### Question 4: Extract Year and Month (10 Marks)

Create two new columns in `df_temp`: 'Year' and 'Month'. These should contain the year and month numbers extracted from the 'Date' column. Display the head of the DataFrame to show these new columns.

**Hint:** After converting to datetime, you can access the year with `.dt.year` and the month with `.dt.month` on the 'Date' column.

**Expected Output:** The first 5 rows of the DataFrame, now including 'Year' and 'Month' columns.

In [ ]:
# Write your answer here

# Create 'Year' and 'Month' columns
df_temp['Year'] = df_temp['Date'].dt.year
df_temp['Month'] = df_temp['Date'].dt.month

# Display the head of the DataFrame to show these new columns
print("DataFrame with new 'Year' and 'Month' columns:")
display(df_temp.head(5))

DataFrame with new 'Year' and 'Month' columns:

    Source       Date    Mean  Year  Month  Moving_Avg
0  GISTEMP 1880-01-06 -0.3000  1880      1     -0.3000
1     GCAG 1880-01-06  0.0009  1880      1      0.0009
2     GCAG 1880-02-06 -0.1229  1880      2     -0.0610
3  GISTEMP 1880-02-06 -0.2100  1880      2     -0.2550
4     GCAG 1880-03-06 -0.1357  1880      3     -0.0859

### Question 5: Calculate 12-Month Moving Average (10 Marks)

Calculate the 12-month moving average of the 'Mean' temperature for each 'Source'. Store this in a new column named `Moving_Avg`. Display the last 5 rows of the DataFrame.

**Hint:** Use `.groupby('Source')['Mean'].transform(lambda x: x.rolling(window=12, min_periods=1).mean())`. Use `.tail()` to see the last rows.

**Expected Output:** A table showing the last 5 rows of the DataFrame with the new 'Moving_Avg' column.

In [ ]:
# Calculate the 12-month moving average of the 'Mean' temperature for each 'Source'
df_temp['Moving_Avg'] = df_temp.groupby('Source')['Mean'].transform(lambda x: x.rolling(window=12, min_periods=1).mean())

# Display the last 5 rows of the DataFrame to show the new 'Moving_Avg' column
print("DataFrame with 12-month Moving Average:")
display(df_temp.tail())

DataFrame with 12-month Moving Average:

       Source       Date    Mean  Year  Month  Moving_Avg
3283     GCAG 2016-06-10  0.7292  2016      6    0.981917
3284  GISTEMP 2016-06-11  0.9300  2016      6    1.017500
3285     GCAG 2016-06-11  0.7504  2016      6    0.963992
3286  GISTEMP 2016-06-12  0.8100  2016      6    0.992500
3287     GCAG 2016-06-12  0.7895  2016      6    0.936292

### Question 6: Filter for the Last 20 Years (10 Marks)

Create a new DataFrame called `df_last20` by filtering `df_temp` to include only data from the last 20 years (inclusive of the latest year in the data). Print the shape of this new DataFrame.

**Hint:** First, find the latest year using `df_temp['Year'].max()`. Then, filter the DataFrame where 'Year' is greater than or equal to `latest_year - 19`.

**Expected Output:** A tuple representing the shape of the filtered `df_last20` DataFrame.

In [ ]:
# Write your answer here

# Find the latest year in the DataFrame
latest_year = df_temp['Year'].max()

# Calculate the start year for the last 20 years
start_year_last20 = latest_year - 19

# Filter df_temp to include only data from the last 20 years
df_last20 = df_temp[df_temp['Year'] >= start_year_last20].copy()

# Print the shape of the new DataFrame
print("Shape of df_last20:", df_last20.shape)

Shape of df_last20: (480, 6)

### Question 7: Group by Source (10 Marks)

Group the original `df_temp` DataFrame by the 'Source' column and calculate the mean of the 'Mean' temperature for each source. Display the resulting Series.

**Hint:** Use the `.groupby('Source')['Mean'].mean()` method.

**Expected Output:** A Pandas Series showing the two sources (GCAG, GISTEMP) as the index and their overall average mean temperature as the values.

In [ ]:
# Write your answer here

# Group by 'Source' and calculate the mean of 'Mean' temperature
mean_temp_by_source = df_temp.groupby('Source')['Mean'].mean()

# Display the resulting Series
print("Mean 'Mean' temperature by Source:")
display(mean_temp_by_source)

Mean 'Mean' temperature by Source:

Source
GCAG       0.048797
GISTEMP    0.024380
Name: Mean, dtype: float64

### Question 8: Aggregate by Year (15 Marks)

Group the `df_temp` DataFrame by 'Year' and calculate the average 'Mean' temperature for each year. Display the last 5 entries of this yearly aggregation.

**Hint:** Use `.groupby('Year')['Mean'].mean()` and then `.tail()` on the result.

**Expected Output:** A Series showing the last 5 years in the dataset and their corresponding average mean temperatures.

In [ ]:
# Write your answer here

# Group the df_temp DataFrame by 'Year' and calculate the average 'Mean' temperature
yearly_avg_temp = df_temp.groupby('Year')['Mean'].mean()

# Display the last 5 entries of this yearly aggregation
print("Last 5 years of average mean temperature:")
display(yearly_avg_temp.tail())

Last 5 years of average mean temperature:

Year
2012    0.629517
2013    0.661846
2014    0.742075
2015    0.882408
2016    0.964396
Name: Mean, dtype: float64

### Question 9: Find the Hottest Month on Average (15 Marks)

Across all years in the `df_temp` dataset, find which month has the highest average 'Mean' temperature. Print the resulting Series which shows the average temperature for each month.

**Hint:** Use `.groupby('Month')['Mean'].mean()`.

**Expected Output:** A Series with month numbers (1-12) as the index and their corresponding average mean temperatures.

In [ ]:
# Write your answer here

# Group by 'Month' and calculate the average 'Mean' temperature
average_temp_by_month = df_temp.groupby('Month')['Mean'].mean()

# Print the resulting Series
print("Average 'Mean' temperature by Month:")
display(average_temp_by_month)

Average 'Mean' temperature by Month:

Month
1    -0.288450
2    -0.265682
3    -0.226420
4    -0.223945
5    -0.207092
6     0.074481
7    -0.177195
8    -0.178862
9    -0.153875
10   -0.175812
11   -0.219795
12   -0.178333
Name: Mean, dtype: float64

### Question 10: Create a Pivot Table (15 Marks)

Using the `df_last20` DataFrame, create a pivot table to show the average 'Mean' temperature for each 'Month' across each 'Year'. Fill any missing values with 0. Display the resulting pivot table.

**Hint:** Use `df_last20.pivot_table(index='Year', columns='Month', values='Mean', fill_value=0)`.

**Expected Output:** A table with years as rows, months (1-12) as columns, and the average mean temperature as the values.

In [ ]:
# Write your answer here

# Create a pivot table to show the average 'Mean' temperature for each 'Month' across each 'Year'
pivot_table = df_last20.pivot_table(index='Year', columns='Month', values='Mean', fill_value=0)

# Display the resulting pivot table
print("Pivot table of average 'Mean' temperature by Year and Month:")
display(pivot_table)

Pivot table of average 'Mean' temperature by Year and Month:

Month         6
Year
1997   0.500171
1998   0.635542
1999   0.430671
2000   0.424779
2001   0.547404
2002   0.617800
2003   0.616287
2004   0.562087
2005   0.675517
2006   0.622479
2007   0.634167
2008   0.538054
2009   0.640442
2010   0.707358
2011   0.590650
2012   0.629517
2013   0.661846
2014   0.742075
2015   0.882408
2016   0.964396